body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;
}
header{
    background-color: #f63232;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;/*first value is for top and bottom while 2nd valu is left and right*/
    display: inline-block;
    border-radius: 36px;
}
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
    /* this makes it fot 100% of its parent which is becomes 100% of the viewport which is the area seen on the device */
}
.banner .welcome{
    background-color: #feb614;
    color: white;
    padding: 30px;
    position: absolute;
    left: 0;
    top: 30%;
}
.banner h2{
    font-size: 74px;
}
.banner h2 span{
    font-size: 1.3em;
    /* this "em" units are like inheritance from parent multiplied by em unit  */
}
nav{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 99px;/*This tells it where is should start being sticky*/
    text-align: center;
}
nav ul{
    white-space: nowrap;/*this ensures the content stays on the same line and that it does not jump to the next lines*/
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
}
nav li a{
    text-decoration: none;
    color: #4b4b4b;
}
nav li a.join{
    color: #f63232;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color: #f63232;
    font-size: 42px;
}
article p{
    line-height: 2em;/*This is the distance between the lines of content*/
    color: #4b4b4b;
}
.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
    border: 3px dashed #f63232;
}
.images li img{
    max-width: 100%;/*Which is 100% of its parent container*/
}
section.join{
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
.join h2{
    font-size: 32px;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}
footer{
    background: #f63232;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Pseudo Classes */

nav li a:hover{
    font-weight: bold;
    color: #f63232;
    position: relative;
    top: -1px;
}
.images li:hover{
    position: relative;
    top: -0.25px;
    border: 5px dashed #f63232;
}
form input:focus{
    border: 4px dashed #4b4b4b;
    outline: none;
}
form input:valid{
    border: 4px solid #71d300;
}
/* nav li:first-child{
    border: 3px solid #f63232;
} */
/* this syle above works, its just that it looks awful but it does a good job of demonstrating the (first-chiled) pseudo
Also note that you may check more pseudo classes at w3 schools */

/* Pseudo-Elements */
article p::first-line{
    font-weight: bold;
    font-size: 1.2em;
}
section.join P::first-letter{
    font-size: 1.03em;
    font-weight: bold;
}
p::selection{
    background-color: #f63232;
    color: white;
}
p::after{
    content: '#./././.#';
}
/* the style above injects content into every <p> tag,at the end of it though.(What's added is what is between the quotes) */